$text-color: #333;
$title-color: #111;
$background: #fdfdfd;

$btn-primary-color: #fdfdfd;
$btn-primary-bg: #30786e;
$btn-primary-border: #145857;

$btn-primary-color-press: #fff;
$btn-primary-bg-press: #145857;
$btn-primary-border-press: #0b3d3c;

$btn-secondary-color: #fdfdfd;
$btn-secondary-bg: #f7b316;
$btn-secondary-border: #d18e05;

$btn-secondary-color-press: #fff;
$btn-secondary-bg-press: #d18e05;
$btn-secondary-border-press: #a77104;